.navbar-container{
    display: flex;
    justify-content: flex-end;
}

.nitem1{
    font-weight: bold;
    padding: 10px;
    color:rgb(74, 56, 190);
}

.nitem2{
    font-weight: bold;
    padding: 10px;
}

.nitem3{
    font-weight: bold;
    padding: 10px;
}
.nitem4{
    font-weight: bold;
    padding: 10px;
}